<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Spotted Birds</title>
</head>

<body>
    <h4>Log your own spotting <a href="/birds/new">here</a></h4>
    <ul>
        <%birds.forEach((bird)=>{ %>
            <li>
                <%=bird.name%> spotted by
                    <%=bird.user.username%>
                        in <%=bird.location %>
                            <ul>
                                <%bird.comments.forEach((comment)=>{ %>
                                    <li>
                                        <%=comment.text%> posted by
                                            <%=comment.user.username%>

                                    </li>
                                    <% }) %>
                            </ul>
                            <a href="">Add your own comment</a>
                            <form action="/comments/<%=bird._id%>" method="POST" id="'comment-box">
                                <label for="text"></label>
                                <input type="text" name="text" id="text">
                                <button type="submit">Submit</button>
                            </form>


            </li>
            <%}) %>
    </ul>
    <footer>Back to <a href="/user">HOME</a></footer>
</body>

</html>