<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="/assets/css/userStyle.css">
</head>

<body>
    <img src="/assets/images/Text_WSP_cropped.png" alt="logo-text" class="logo-text">
    <div id="logo">
        <img src="/assets/images/WSP_BIRD.png" alt="who-spot-ya-bird" class="logo">
    </div>
    <h1>Welcome <%=user.username%>
    </h1>
    <div class="log-spot">
        <p>Spotted anything? Log your birds <a href="/birds/new">here</a></p>
    </div>
    <div class="community-page">
        <h3>Check out all the spotting going on in the community <a href="/birds/">here</a></h3>
    </div>
    <div class="user-birds">
        <h2>Here's all the birds you've spotted</h2>
        <% if(birds.length===0){%>
            <p><i>Seems like you haven't spotted any birds yet, get out there and explore the skies!</i></p>
            <%} else {%>


                <ul>
                    <% birds.forEach((bird)=>{ %>
                        <li>
                            <strong>
                                <%=bird.name %>
                            </strong> which you spotted in <%=bird.location %>
                                <div class="user-links">
                                    <a href="birds/<%=bird._id%>/edit">Edit this spotting</a>
                                    <a href="birds/<%=bird._id%>">More info</a>
                                </div>

                        </li>

                        <% }) %>
                </ul>
                <%}%>
    </div>
    <div class="user-comments">
        <h2>
            You're part of the community!
        </h2>
        <p>Here are all the comments you've made</p>
        <% if (comments.length===0) {%>
            <p><i>You have not made any comments yet, check out the community!</i></p>
            <%} else{ %>


                <ul>
                    <% comments.forEach((comment)=>{ %>

                        <li>
                            '<%=comment.text%>' made on the spotting of a <a href="birds/<%=comment.bird._id%>">
                                    <%=comment.bird.name%>
                                </a>,spotted by <a href="user/<%=comment.bird.user._id%>">
                                    <%=comment.bird.user.username %>
                                </a>
                                &nbsp in <%=comment.bird.location%>
                                    <form action="comments/<%=comment._id%>?_method=DELETE" method="POST">
                                        <input type="submit" value="Delete Comment" id="submit">
                                    </form>
                        </li>

                        <% }) %>
                </ul>
                <%}%>
    </div>
    <a href="/auth/sign-out">Sign Out</a>
</body>

</html>